<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>这里是欢迎页面（所有用户都可以看到）</p>

<!--<div class="home-banner" data-stretch="<%#= image_url '/assets/images/index.jpg' %>">-->
<!--  <div class="banner-inner container clearfix">-->
<!--    <div class="home-banner-links">-->
      <%#= link_to "发布新帖", "#", class: "banner-btn btn" %>
<!--    </div>-->
<!--    <div class="home-banner-links" style="left: 100px;top: 100px;">-->
      <%#= link_to "个人中心", "#", class: "banner-btn btn" %>
<!--    </div>-->
<!--    <div class="home-banner-links" style="left: 350px;top: 150px;">-->
      <%#= link_to "流浪猫救助活动", "#", class: "banner-btn btn" %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="issue-list-header">-->
<!--  <div class="container clearfix">-->
<!--    <h1 class="issue-list-heading"></h1>-->
<!--  </div>-->
<!--</div>-->
